html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 22px;
  line-height: 1.4;
}

header {
  padding: 1em;
  background: #C33764;  /* fallback for old browsers */
  background: linear-gradient(to left, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

main {
  padding: 0 2em 2em;
}

footer {
  background: #555;
  color: #ddd;
  padding: 1em;
}

nav ul, footer ul {
  list-style-type: none;
}

nav ul {
  position: absolute;
  top: 0;
  right: 1em;
}

nav li {
  display: inline;
  margin-left: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
}

section:first-of-type img {
  float: left;
  margin-right: 0.5em;
}

h2 {
  clear: both;
}

.gallery img {
    width: 50%;
}

.gallery {
  line-height: 0;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  color: lightgray;
  text-decoration: none;
}
